In [3]:
import pymongo
import pandas as pd

In [4]:
ConexaoDB = "mongodb://localhost:27017"
CriarConexao = pymongo.MongoClient(ConexaoDB)

In [5]:
lista = CriarConexao.list_database_names()
lista

['IEM_IT', 'admin', 'config', 'local']

In [6]:
colecao = CriarConexao['IEM_IT']['Pedidos']

In [7]:
#FIND( {}, {} )

filtro = {}
projection = {"_id": 1, "cliente": 2, "quantidade": 3, "preco_unitario": 4}

In [8]:
resultado = colecao.find( filtro, projection )

In [9]:
#resultado

ListaTudo = list(resultado)
ListaTudo

[{'_id': ObjectId('67c878cb7418e064171fa25b'),
  'cliente': 'João Silva',
  'quantidade': 1,
  'preco_unitario': 7500.0},
 {'_id': ObjectId('67c878cb7418e064171fa25c'),
  'cliente': 'Maria Oliveira',
  'quantidade': 2,
  'preco_unitario': 4500.0},
 {'_id': ObjectId('67c878cb7418e064171fa25d'),
  'cliente': 'Carlos Mendes',
  'quantidade': 1,
  'preco_unitario': 2500.0}]

In [10]:
dataframe = pd.DataFrame( ListaTudo )

dataframe

                        _id         cliente  quantidade  preco_unitario
0  67c878cb7418e064171fa25b      João Silva           1          7500.0
1  67c878cb7418e064171fa25c  Maria Oliveira           2          4500.0
2  67c878cb7418e064171fa25d   Carlos Mendes           1          2500.0

In [11]:
dataframe.to_excel('resultado.xlsx')