In [19]:
import pandas as pd

In [20]:
df = pd.DataFrame( [ [1, 2], [4, 5], [7, 8] ],
                   index=['cobra', 'viper', 'sidewinder'],
                   columns=['max_speed', 'shield'])
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [21]:
df.loc['viper']

max_speed    4
shield       5
Name: viper, dtype: int64

In [ ]:
df.loc[ ['viper', 'sidewinder'] ]

            max_speed  shield
viper               4       5
sidewinder          7       8

In [24]:
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [23]:
df.loc['cobra', 'shield']

np.int64(2)

In [ ]:
df.loc['cobra':'viper', 'max_speed'] #iloc

cobra    1
viper    4
Name: max_speed, dtype: int64

In [26]:
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [ ]:
df.loc[ [False, False, True] ]

            max_speed  shield
sidewinder          7       8

In [29]:
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [ ]:
df.loc[pd.Series( [False, True, False] ,
                  index=['viper', 'sidewinder', 'cobra'])]

            max_speed  shield
sidewinder          7       8

In [ ]:
df.loc[pd.Index(["cobra", "viper"], name="foo")]

In [31]:
df.loc[ df['shield'] > 6]

            max_speed  shield
sidewinder          7       8

In [32]:
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [ ]:
df.loc[ df['shield'] > 6, ['max_speed']]

            max_speed
sidewinder          7

In [35]:
df.loc[ (df['max_speed'] > 1) & (df['shield'] < 8)]

       max_speed  shield
viper          4       5

In [34]:
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [ ]:
df.loc[ (df['max_speed'] > 4) | (df['shield'] < 5) ] #OU

            max_speed  shield
cobra               1       2
sidewinder          7       8

In [ ]:
df.loc[ lambda df: df['shield'] == 8]

            max_speed  shield
sidewinder          7       8

In [38]:
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [42]:
df.loc[['viper', 'sidewinder'], ['shield']] = 50
df

            max_speed  shield
cobra               1       2
viper               4      50
sidewinder          7      50

In [43]:
df.loc['cobra'] = 10
df

            max_speed  shield
cobra              10      10
viper               4      50
sidewinder          7      50

In [45]:
df

            max_speed  shield
cobra              30      10
viper              30      50
sidewinder         30      50

In [44]:
df.loc[:, 'max_speed'] = 30
df

            max_speed  shield
cobra              30      10
viper              30      50
sidewinder         30      50

In [ ]:
df.loc[df['shield'] > 35] = 0
df

            max_speed  shield
cobra              30      10
viper               0       0
sidewinder          0       0

In [47]:
df.loc["viper", "shield"] += 5
df

            max_speed  shield
cobra              30      10
viper               0       5
sidewinder          0       0

In [ ]:
shuffled_df = df.loc[ ["viper", "cobra", "sidewinder"] ]
df.loc[:] += shuffled_df
df

            max_speed  shield
cobra              60      20
viper               0      10
sidewinder          0       0

In [ ]:
df = pd.DataFrame( [ [1, 2], [4, 5], [7, 8] ] ,
                   index=[7, 8, 9], columns=['max_speed', 'shield'])
df

   max_speed  shield
7          1       2
8          4       5
9          7       8

In [50]:
df.loc[7:9]

   max_speed  shield
7          1       2
8          4       5
9          7       8