In [1]:
valores = ["R$ 1.200,50", "980,00 BRL", "R$2.315,99"]
valores

['R$ 1.200,50', '980,00 BRL', 'R$2.315,99']

In [2]:
valores_convertidos = [
    float(
        v.replace("R$", "").
          replace("BRL", "").
          replace(".", "").
          replace(",", ".").
          strip()
    ) for v in valores
]

print(valores_convertidos)

[1200.5, 980.0, 2315.99]